body{
		 padding:0; margin: 0px auto; 
 	  background-image: url(image/02.jpg);
		 background-repeat: no-repeat;
		 background-position: cover;
}
span{
	color:red;
}
header h1{background-image: url(image/08.jpg); padding: 40px;color:#CCD1D1  ;
	text-align: center; font-size: 60px; height: 60px;font-family: georgia;} 
 	#vertical
 	{
 		width: 2px;
 		margin-top:-19px;
 		height: 770px;
 		float: left;
 		margin-left:-70px;
 		background-color: red;
 	}
 	aside
		{
			width: 55%;
			margin-left:-20px;
			float: left;
			margin-top: 30px;
			line-height: 1.6;
			background-color:none;
		}
		#right 
		{
			width: 45%;	
			float: left;
			margin-right:-50px;
			margin-top: 30px;
		}
 
 
#b1	
{
 	text-align: center;
	margin-top:30px;
	margin-bottom:5px;
	font-family: arial black;
}
#b1 input
{
	padding:5px;
	font-size: inherit;
	margin-bottom: 5px;
	margin-left: 60px;
	width:35%;
	border-radius: 8px;
	border:2px solid steelblue;
	background:#FAF6D9;
}
 
 
#b2{
 text-align: center;
	margin-top:20px;
	margin-bottom: 5px;
	font-family: arial black;
}
#b2 input
{
	padding: 5px;
	font-size: inherit;
	margin-bottom: 5px;
	margin-left: 42px;
	width:35%;
	border-radius: 8px;
	border:2px solid steelblue;
	background:#FAF6D9;
}

#b3{
 	text-align: center;
	margin-top:20px;
	margin-bottom: 5px;
	font-family: arial black;
}
#b3 input
{
	padding: 5px;
	font-size: inherit;
	margin-bottom: 5px;
	margin-left: 92px;
	width:35%;
	border-radius: 8px;
	border:2px solid steelblue;
	background:#FAF6D9;
}
#b4
{
 	text-align: center;
	margin-top:20px;
	margin-bottom: 5px;
	font-family: arial black;
}
#b4 input
{
	padding: 5px;
	font-size: inherit;
	margin-bottom: 5px;
	margin-left: 71px;
	width:35%;
	border-radius: 8px;
	border:2px solid steelblue;
	background:#FAF6D9;
}
#b5{
 	text-align: center;
	margin-top:20px;
	margin-bottom: 5px;
	font-family: arial black;
}

#b5 input
{
	padding: 5px;
	font-size: inherit;
	margin-bottom: 5px;
	margin-left: 51px;
	width:35%;
	border-radius: 8px;
	border:2px solid steelblue;
	background:#FAF6D9;
}

#b6{
 	margin-left: 155px;
	margin-top:20px;
	margin-bottom: 5px;
	font-family: arial black;
}
#b6 #gen {
	margin-left:180px;
}
#b20{
 	margin-left: 105px;
	margin-top:20px;
	margin-bottom: 5px;
	font-family: arial black;
}
#b20 #med {
	margin-left:180px;
}
#b7 {
 	text-align: center;
	margin-top:20px;
	margin-bottom:5px;
	font-family: arial black;
}
#b7 input
{
	padding: 5px;
	font-size: inherit;
	margin-bottom: 5px;
	margin-left: 50px;
	width:35%;
	border-radius: 8px;
	border:2px solid steelblue;
	background:#FAF6D9;
}
#b21
{
 	margin-top:30px;
	margin-bottom: 5px;
	margin-left:-50px;
	font-family: arial black;
}
#b21 input
{
	padding: 5px;
	font-size: inherit;
	margin-bottom: 5px;
	margin-left:20px;
	width:35%;
	border-radius: 8px;
	border:2px solid steelblue;
	background:#FAF6D9;
}
#b22
{
	margin-top:20px;
	margin-left:-50px;
	margin-bottom:5px;
	font-family: arial black;
}
#b22 input
{
	padding: 5px;
	font-size: inherit;
	margin-bottom: 5px;
	margin-left: 30px;
	width:35%;
	border-radius: 8px;
	border:2px solid steelblue;
	background:#FAF6D9;
}
#b10
{
	margin-top:20px;
	margin-left:-50px;
	margin-bottom:5px;
	font-family: arial black;
}
#b10 input
{
	padding: 5px;
	font-size: inherit;
	margin-bottom: 5px;
	margin-left: 27px;
	width:35%;
	border-radius: 5px;
	border:2px solid steelblue;
	background:#FAF6D9;
}
#b11
{
	margin-top:20px;
	margin-left:-50px;
	margin-bottom:5px;
	font-family: arial black;
}
#b11 input
{
	padding: 5px;
	font-size: inherit;
	margin-bottom: 5px;
	margin-left:48px;
	width:35%;
	border-radius: 8px;
	border:2px solid steelblue;
	background:#FAF6D9;
}
#b12
{
	margin-top:20px;
	margin-left:-50px;
	margin-bottom:30px;
	font-family: arial black;
}
#b12 select
{
	padding: 5px;
	font-size: inherit;
	margin-bottom: 5px;
	margin-left: 70px;
	width:35%;
	border-radius: 8px;
	border:2px solid steelblue;
	background:#FAF6D9;
}
#b13
{
	margin-top:20px;
	margin-left:-50px;
	margin-bottom:5px;
	font-family: arial black;
}
#b13 input
{
	padding: 5px;
	font-size: inherit;
	margin-bottom: 5px;
	margin-left: 45px;
	width:35%;
	border-radius: 8px;
	border:2px solid steelblue;
	background:#FAF6D9;
}
#qualify
{
	margin-top:20px;
	margin-left:-50px;
	margin-bottom:5px;
	font-family: arial black;
}
#qualify input
{
	padding: 5px;
	font-size: inherit;
	margin-bottom: 5px;
	margin-left:10;
	width:35%;
	border-radius: 8px;
	border:2px solid steelblue;
	background:#FAF6D9;
}
#position
{
	margin-top:20px;
	margin-left:-50px;
	margin-bottom:5px;
	font-family: arial black;
}
#position select
{
	padding: 5px;
	font-size: inherit;
	margin-bottom: 5px;
	margin-left: 45px;
	width:35%;
	border-radius: 8px;
	border:2px solid steelblue;
	background:#FAF6D9;
}

#b14
{
	margin-top:20px;
	margin-left:-50px;
	margin-bottom:5px;
	font-family: arial black;
}
#b14 input
{
	padding: 5px;
	font-size: inherit;
	margin-bottom: 20px;
	margin-left:5px;
	width:35%;
	border-radius: 8px;
	border:2px solid steelblue;
	background:#FAF6D9;
}
#b15
{
 	text-align: center;
	margin-top:20px;
	margin-bottom: 5px;
	font-family: arial black;
}
#b15 input
{
	padding: 5px;
	font-size: inherit;
	margin-bottom: 5px;
	margin-left: 75px;
	width:35%;
	border-radius: 8px;
	border:2px solid steelblue;
	background:#FAF6D9;
}
#b16
{
 	text-align: center;
	margin-top:20px;
	margin-bottom: 5px;
	font-family: arial black;
}
#b16 input
{
	padding: 5px;
	font-size: inherit;
	margin-bottom: 30px;
	margin-left: 95px;
	width:35%;
	border-radius: 8px;
	border:2px solid steelblue;
	background:#FAF6D9;

}

#exp
{
 	text-align: center;
	margin-top:20px;
	margin-bottom: 5px;
	font-family: arial black;
}
#exp input
{
	padding: 5px;
	font-size: inherit;
	margin-bottom: 30px;
	margin-left: 70px;
	width:35%;
	border-radius: 8px;
	border:2px solid steelblue;
	background:#FAF6D9;

}
#gen{
	margin-left: 300px;
	margin-top: -20px;
} 


#b17
{
	margin-top:20px;
	margin-left:-50px;
	margin-bottom:5px;
	font-family: arial black;
}
#b17 input
{
	padding: 5px;
	font-size: inherit;
	margin-bottom: 20px;
	margin-left:5px;
	width:35%;
	border-radius: 8px;
	border:2px solid steelblue;
	background:#FAF6D9;

label
{
	margin-left:20px;
	padding: 10px;
}
form{
	margin-top:20px;
}
 
 

 .b8 input
{
	padding: 10px;
	font-size: inherit;
	border-radius: 8px;
	margin-bottom: 5px;
	
	 
	width: 10%;
	border:2px solid steelblue;
	background-color:#185AE7;
}
.b8:hover{opacity: .8;}
 